In [51]:
"""
LICENSE MIT
2021
Guillaume Rozier
Website : http://www.covidtracker.fr
Mail : guillaume.rozier@telecomnancy.net

README:
This file contains scripts that download data from data.gouv.fr and then process it to build many graphes.
I'm currently cleaning the code, please ask me if something is not clear enough.

The charts are exported to 'charts/images/france'.
Data is download to/imported from 'data/france'.
Requirements: please see the imports below (use pip3 to install them).

"""

"\nLICENSE MIT\n2021\nGuillaume Rozier\nWebsite : http://www.covidtracker.fr\nMail : guillaume.rozier@telecomnancy.net\n\nREADME:\nThis file contains scripts that download data from data.gouv.fr and then process it to build many graphes.\nI'm currently cleaning the code, please ask me if something is not clear enough.\n\nThe charts are exported to 'charts/images/france'.\nData is download to/imported from 'data/france'.\nRequirements: please see the imports below (use pip3 to install them).\n\n"

In [59]:
import pandas as pd
import json
import france_data_management as data
import math
import numpy as np

show_charts = False
PATH_STATS = "../../data/france/stats/"
PATH = "../../"

In [229]:
data.download_data()

  0%|          | 0/8 [00:00<?, ?it/s]



 12%|█▎        | 1/8 [00:00<00:06,  1.02it/s]



 38%|███▊      | 3/8 [00:01<00:04,  1.21it/s]



 75%|███████▌  | 6/8 [00:02<00:01,  1.65it/s]



28it [00:11,  1.80it/s]



36it [00:12,  2.51it/s]

In [56]:
df_regions_meta = pd.read_csv(PATH+"data/france/population_grandes_regions.csv")

In [57]:
#data.download_data_obepine()
#df_obepine = data.import_data_obepine()
#df_obepine_france = df_obepine.groupby("Date").mean().reset_index()

In [252]:
df_adm_hosp_clage = import_data_hosp_clage()
#df_adm_hosp_clage["jour"] = pd.to_datetime(df_adm_hosp_clage.Semaine+"-6", format="%Y-S%U-%w").fillna(0)
df_adm_hosp_clage_france = df_adm_hosp_clage.groupby(["jour", "cl_age90"]).sum().fillna(0).reset_index()
df_adm_hosp_clage

,reg,Semaine,cl_age90,NewAdmHospit,jour,regionName,regionPopulation,code
0,1,2020-S09,0,0,2020-03-01,Guadeloupe,395700,1
1,1,2020-S09,9,0,2020-03-01,Guadeloupe,395700,1
2,1,2020-S09,19,0,2020-03-01,Guadeloupe,395700,1
3,1,2020-S09,29,0,2020-03-01,Guadeloupe,395700,1
4,1,2020-S09,39,0,2020-03-01,Guadeloupe,395700,1
...,...,...,...,...,...,...,...,...
22963,94,2022-S19,59,0,2022-05-08,Corse,339178,94
22964,94,2022-S19,69,1,2022-05-08,Corse,339178,94
22965,94,2022-S19,79,3,2022-05-08,Corse,339178,94
22966,94,2022-S19,89,8,2022-05-08,Corse,339178,94
22967,94,2022-S19,90,2,2022-05-08,Corse,339178,94

In [65]:
df, df_confirmed, dates, df_new, df_tests, df_deconf, df_sursaud, df_incid, df_tests_viros = data.import_data()

  0%|          | 0/8 [00:00<?, ?it/s]


 38%|███▊      | 3/8 [00:19<00:32,  6.60s/it]


 75%|███████▌  | 6/8 [00:21<00:09,  4.81s/it]


21it [00:28,  3.50s/it]


28it [04:34, 13.02s/it]


36it [04:35,  9.15s/it]

In [66]:
df_new_france = data.import_data_new().groupby("jour").sum().reset_index()

In [67]:
df_vue_ensemble = data.import_data_vue_ensemble()

In [152]:
def download_and_import_data_niveaux_scolaires_fra():
    df = pd.read_csv("https://www.data.gouv.fr/fr/datasets/r/f40a7dc4-31ce-4a38-b7b1-3fe6720606c7", sep=";")
    df["jour"] = df["sg"].apply(lambda x: x[-10:])
    df["jour"] = pd.to_datetime(df["jour"])
    df["age_18ans"] = df["cl_age18"].astype(str)
    df = df.sort_values(by="jour")
    return df.replace(",", ".", regex=True)

def download_and_import_data_niveaux_scolaires_reg():
    df = pd.read_csv("https://www.data.gouv.fr/fr/datasets/r/e8578f84-9ac7-43f3-9600-14bc8d4eeb1e", sep=";")
    df["jour"] = df["sg"].apply(lambda x: x[-10:])
    df["jour"] = pd.to_datetime(df["jour"])
    df = df.sort_values(by="jour")
    df_regions = pd.read_csv(PATH + 'data/france/departments_regions_france_2016.csv', sep=",")
    df = df.merge(df_regions, left_on="reg", right_on="regionCode")
    df["age_18ans"] = df["cl_age18"].astype(str)
    return df.replace(",", ".", regex=True)

def download_and_import_data_niveaux_scolaires_dep():
    df = pd.read_csv("https://www.data.gouv.fr/fr/datasets/r/356bde9d-18b6-4d8b-b8bb-150cba5fba74", sep=";")
    df["jour"] = df["sg"].apply(lambda x: x[-10:])
    df["jour"] = pd.to_datetime(df["jour"])
    df = df.sort_values(by="jour")
    df_regions = pd.read_csv(PATH + 'data/france/departments_regions_france_2016.csv', sep=",")
    df = df.merge(df_regions, left_on="dep", right_on="departmentCode")
    df["age_18ans"] = df["cl_age18"].astype(str)
    return df.replace(",", ".", regex=True)

In [153]:
df_education = data.import_data_education()

df_niveaux_scolaires_fra = data.download_and_import_data_niveaux_scolaires_fra()
df_niveaux_scolaires_reg = data.download_and_import_data_niveaux_scolaires_reg()
df_niveaux_scolaires_dep = data.download_and_import_data_niveaux_scolaires_dep()

In [107]:
#df_vacsi_a = data.import_data_vacsi_a_fra()
#df_vacsi_a_reg = data.import_data_vacsi_a_reg()
#df_vacsi_a_dep = data.import_data_vacsi_a_dep()

df_vacsi = data.import_data_vacsi_fra() #df_vacsi_a.groupby("jour").sum().reset_index()
df_vacsi_reg = data.import_data_vacsi_reg() #df_vacsi_a_reg.groupby(["jour", "reg"]).sum().reset_index()
df_vacsi_reg = df_vacsi_reg.merge(df_regions_meta, left_on="reg", right_on="code").rename({"n_tot_dose1": "n_cum_dose1"}, axis=1)

df_vacsi_dep = data.import_data_vacsi_dep().rename({"n_tot_dose1": "n_cum_dose1"}, axis=1)
#df_vacsi_a_dep.groupby(["jour", "dep"]).sum().reset_index().rename({"n_tot_dose1": "n_cum_dose1"}, axis=1)

In [111]:
df_metro = data.import_data_metropoles()
df_metro["jour"] = df_metro["sg"].map(lambda x: x[11:])

df_metro_65 = df_metro[df_metro["cl_age65"] == 65]
df_metro_0 = df_metro[df_metro["cl_age65"] == 0]
metropoles = list(dict.fromkeys(list(df_metro['Metropole'].dropna().values)))

In [209]:
df_tests_viros_enrichi = data.import_data_tests_viros()
df_tests_viros_enrichi = df_tests_viros_enrichi.drop("regionName_y", axis=1).rename({"regionName_x": "regionName"}, axis=1)

In [113]:
df_incid_clage = df_incid.copy()

df_incid_fra_clage = data.import_data_tests_sexe()
df_incid_fra = df_incid_fra_clage[df_incid_fra_clage["cl_age90"]==0]
df_france = df.groupby(["jour"]).sum().reset_index()
df_incid = df_incid[df_incid.cl_age90 == 0]

df_sursaud_france = df_sursaud.groupby(["date_de_passage"]).sum().reset_index()
df_sursaud_regions = df_sursaud.groupby(["date_de_passage", "regionName"]).sum().reset_index()

#df_new_france = df_new.groupby(["jour"]).sum().reset_index()
df_new_regions = df_new.groupby(["jour", "regionName"]).sum().reset_index()

In [114]:
df_incid_clage_regions = df_incid_clage.groupby(["regionName", "jour", "cl_age90"]).sum().reset_index()

In [210]:
df_tests_viros_regions = df_tests_viros_enrichi.groupby(["regionName", "jour", "cl_age90"]).sum().reset_index()
df_tests_viros_france = df_tests_viros_enrichi.groupby(["jour", "cl_age90"]).sum().reset_index()

In [116]:
df_hosp_clage = data.import_data_hosp_clage()
df_hosp_clage_france = df_hosp_clage.groupby(["jour", "cl_age90"]).sum().reset_index()
df_hosp_clage_regions = df_hosp_clage.groupby(["regionName", "jour", "cl_age90"]).sum().reset_index()

In [117]:
departements = list(dict.fromkeys(list(df_incid['dep'].values)))
regions = list(dict.fromkeys(list(df_incid['regionName'].dropna().values))) 
clage_list = list(dict.fromkeys(list(df_incid_fra_clage['cl_age90'].dropna().values))) 

df_regions = df.groupby(["jour", "regionName"]).sum().reset_index()
df_incid_regions = df_incid.groupby(["jour", "regionName"]).sum().reset_index()


zone_a = ["zone_a", "01", "03", "07", "15", "16", "17", "19", "21", "23", "24", "25", "26", "33", "38", "39", "40", "42", "43", "47", "58", "63", "64", "69", "70", "71", "73", "74", "79", "86", "90"]
zone_b = ["zone_b", "02", "04", "05", "06", "08", "10", "13", "14", "18", "22", "27", "28", "29", "35", "36", "37", "41", "44", "45", "49", "50", "51", "52", "53", "54", "55", "56", "57", "59", "60", "61", "62", "67", "68", "72", "76", "80", "83", "84", "85", "88"]
zone_c = ["zone_c", "09", "11", "12", "30", "31", "32", "34", "46", "48", "65", "66", "75", "77", "78", "81", "82", "91", "92", "93", "94", "95"]

confines_mars_2021 = ["confines_mars_2021", "02", "06", "27", "59", "60", "62", "75", "76", "77", "78", "80", "91", "92", "93", "94", "95"]

In [119]:
df_opendata_indicateurs = data.download_and_import_opendata_indicateurs()

In [161]:
def generate_data(data_incid=pd.DataFrame(), data_hosp=pd.DataFrame(), data_sursaud=pd.DataFrame(), data_new=pd.DataFrame(), data_vue_ensemble=pd.DataFrame(), data_metropole=pd.DataFrame(), data_vacsi=pd.DataFrame(), data_obepine=pd.DataFrame(), data_opendata_indicateurs=pd.DataFrame(), mode="", export_jour=False, taux_croissance=False):## Incidence
        
    dict_data = {}
    
    if export_jour:
        dict_data["jour_incid"] = list(data_incid.jour)
        dict_data["jour_hosp"] = list(data_hosp.jour)
        dict_data["jour_new"] = list(data_new.jour)
        dict_data["jour_sursaud"] = list(data_sursaud.date_de_passage)
        dict_data["jour_metropoles"] = list(data_metropole.jour.unique())
        dict_data["jour_vacsi"] = list(data_vacsi.jour)
        dict_data["jour_obepine"] = "" #list(data_obepine.Date)
        
    if (taux_croissance) and (len(data_incid)>0):
        cas = data_incid["P"].fillna(0)
        taux_croissance_cas = ((cas-cas.shift(7))/cas.shift(7).replace(0, None)).fillna(0) * 100
        taux_croissance_cas[taux_croissance_cas>200]=200
        taux_croissance_cas[taux_croissance_cas<-200]=-200
        
        cas_rolling = data_incid["P"].rolling(window=7, center=True).mean().fillna(0)
        taux_croissance_cas_rolling = ((cas_rolling-cas_rolling.shift(7))/cas_rolling.shift(7).replace(0, None)).fillna(0) * 100
        dict_data["croissance_cas"] = {"jour_nom": "jour_incid", "valeur": list(round(taux_croissance_cas, 1))}
        dict_data["croissance_cas_rolling7"] = {"jour_nom": "jour_incid", "valeur": list(round(taux_croissance_cas_rolling, 1))}
        
        tests = data_incid["T"].rolling(window=7).mean().fillna(0)
        taux_croissance_tests= ((tests-tests.shift(7))/tests.shift(7).replace(0, None)).fillna(0) * 100
        dict_data["croissance_tests"] = {"jour_nom": "jour_incid", "valeur": list(round(taux_croissance_tests, 1))}
        dict_data["croissance_tests_rolling7"] = {"jour_nom": "jour_incid", "valeur": list(round(taux_croissance_tests.rolling(window=7, center=True).mean().fillna(0), 1))}
        
    if (taux_croissance) and (len(data_hosp)>0):
        hospitalisations = data_hosp.hosp.fillna(0)
        taux_croissance_hospitalisations = ((hospitalisations-hospitalisations.shift(7))/hospitalisations.shift(7).replace(0, None)).fillna(0) * 100
        dict_data["croissance_hospitalisations"] = {"jour_nom": "jour_hosp", "valeur": list(round(taux_croissance_hospitalisations, 1))}
        dict_data["croissance_hospitalisations_rolling7"] = {"jour_nom": "jour_hosp", "valeur": list(round(taux_croissance_hospitalisations.rolling(window=7, center=True).mean().fillna(0), 1))}
        
        reanimations = data_hosp.rea.fillna(0)
        taux_croissance_reanimations = ((reanimations-reanimations.shift(7))/reanimations.shift(7).replace(0, None)).fillna(0) * 100
        dict_data["croissance_reanimations"] = {"jour_nom": "jour_hosp", "valeur": list(round(taux_croissance_reanimations, 1))}
        dict_data["croissance_reanimations_rolling7"] = {"jour_nom": "jour_hosp", "valeur": list(round(taux_croissance_reanimations.rolling(window=7, center=True).mean().fillna(0), 1))}
    
    if (taux_croissance) and (len(data_new)>0):
        hospitalisations = data_new.incid_hosp.fillna(0)
        taux_croissance_hospitalisations = ((hospitalisations-hospitalisations.shift(7))/hospitalisations.shift(7).replace(0, None)).fillna(0) * 100
        
        hospitalisations_rolling = data_new.incid_hosp.fillna(0).rolling(window=7, center=True).mean()
        taux_croissance_hospitalisations_rolling = ((hospitalisations_rolling-hospitalisations_rolling.shift(7))/hospitalisations_rolling.shift(7).replace(0, None)).fillna(0) * 100
        dict_data["croissance_incid_hospitalisations"] = {"jour_nom": "jour_new", "valeur": list(round(taux_croissance_hospitalisations, 1))}
        dict_data["croissance_incid_hospitalisations_rolling7"] = {"jour_nom": "jour_new", "valeur": list(round(taux_croissance_hospitalisations_rolling, 1))}
        
        reanimations = data_new.incid_rea.fillna(0)
        taux_croissance_reanimations = ((reanimations-reanimations.shift(7))/reanimations.shift(7).replace(0, None)).fillna(0) * 100
        
        reanimations_rolling = data_new.incid_rea.fillna(0).rolling(window=7, center=True).mean()
        taux_croissance_reanimations_rolling = ((reanimations_rolling-reanimations_rolling.shift(7))/reanimations_rolling.shift(7).replace(0, None)).fillna(0) * 100
        dict_data["croissance_incid_reanimations"] = {"jour_nom": "jour_new", "valeur": list(round(taux_croissance_reanimations, 1))}
        dict_data["croissance_incid_reanimations_rolling7"] = {"jour_nom": "jour_new", "valeur": list(round(taux_croissance_reanimations_rolling, 1))}
    
    if (taux_croissance)and len(data_opendata_indicateurs):
        dict_data["jour_spf_opendata"] = list(data_opendata_indicateurs[["date", "conf_j1"]].dropna().date)
        
        data_opendata_indicateurs["conf_j1_corrige"] = data_opendata_indicateurs["conf"].diff()
        data_opendata_indicateurs.loc[data_opendata_indicateurs["date"]=="2021-05-20", "conf_j1_corrige"] = 15000
        
        #cas_spf_opendata = data_opendata_indicateurs["conf_j1_corrige"].fillna(0)
        cas_spf_opendata = data_opendata_indicateurs["conf_j1"].dropna()
            
        taux_croissance_cas_spf_opendata = ((cas_spf_opendata-cas_spf_opendata.shift(7))/cas_spf_opendata.shift(7).replace(0, None)).fillna(0) * 100
        cas_spf_opendata_rolling = cas_spf_opendata.rolling(window=7, center=True).mean().fillna(0)
        taux_croissance_cas_spf_opendata_rolling = ((cas_spf_opendata_rolling-cas_spf_opendata_rolling.shift(7))/cas_spf_opendata_rolling.shift(7).replace(0, None)).fillna(0) * 100
        
        dict_data["croissance_cas_spf_opendata"] = {"jour_nom": "jour_spf_opendata", "valeur": list(round(taux_croissance_cas_spf_opendata, 1))}
        dict_data["croissance_cas_spf_opendata_rolling7"] = {"jour_nom": "jour_spf_opendata", "valeur": list(round(taux_croissance_cas_spf_opendata_rolling, 1))}
        
        cas_spf_opendata_corrige = data_opendata_indicateurs[["date", "conf_j1_corrige"]]
        cas_spf_opendata_corrige.loc[cas_spf_opendata_corrige.date == "2021-05-02", "conf_j1_corrige"] = cas_spf_opendata_corrige.loc[cas_spf_opendata_corrige.date == "2021-04-25", "conf_j1_corrige"].values[0] * 0.7
        cas_spf_opendata_corrige.loc[cas_spf_opendata_corrige.date == "2021-05-09", "conf_j1_corrige"] = cas_spf_opendata_corrige.loc[cas_spf_opendata_corrige.date == "2021-05-02", "conf_j1_corrige"].values[0] * 0.7
        cas_spf_opendata_corrige.loc[cas_spf_opendata_corrige.date == "2021-05-14", "conf_j1_corrige"] = 0.7 * cas_spf_opendata_corrige.loc[cas_spf_opendata_corrige.date == "2021-05-07"]["conf_j1_corrige"].values[0]
        cas_spf_opendata_corrige.loc[cas_spf_opendata_corrige.date == "2021-05-25", "conf_j1_corrige"] = 0.7 * cas_spf_opendata_corrige.loc[cas_spf_opendata_corrige.date == "2021-05-18"]["conf_j1_corrige"].values[0]
        cas_spf_opendata_corrige.loc[cas_spf_opendata_corrige.date == "2021-07-15", "conf_j1_corrige"] = 1.8 * cas_spf_opendata_corrige.loc[cas_spf_opendata_corrige.date == "2021-07-08"]["conf_j1_corrige"].values[0]
        cas_spf_opendata_corrige.loc[cas_spf_opendata_corrige.date == "2021-11-02", "conf_j1_corrige"] = 1.1 * cas_spf_opendata_corrige.loc[cas_spf_opendata_corrige.date == "2021-10-26"]["conf_j1_corrige"].values[0]
        cas_spf_opendata_corrige.loc[cas_spf_opendata_corrige.date == "2021-11-12", "conf_j1_corrige"] = 1.3 * cas_spf_opendata_corrige.loc[cas_spf_opendata_corrige.date == "2021-11-05"]["conf_j1_corrige"].values[0]
        cas_spf_opendata_corrige.loc[cas_spf_opendata_corrige.date == "2021-12-26", "conf_j1_corrige"] = 1.5 * cas_spf_opendata_corrige.loc[cas_spf_opendata_corrige.date == "2021-12-19"]["conf_j1_corrige"].values[0]
        cas_spf_opendata_corrige.loc[cas_spf_opendata_corrige.date == "2021-01-01", "conf_j1_corrige"] = 2 * cas_spf_opendata_corrige.loc[cas_spf_opendata_corrige.date == "2021-12-25"]["conf_j1_corrige"].values[0]
        cas_spf_opendata_corrige = cas_spf_opendata_corrige["conf_j1_corrige"].rolling(window=7).mean().fillna(0)
        
        dict_data["cas_spf_opendata_rolling_corrige"] = {"jour_nom": "jour_spf_opendata", "valeur": list(round(cas_spf_opendata_corrige, 1))}

    if(len(data_vacsi)>0):
        n_cum_dose1 = data_vacsi["n_cum_dose1"].fillna(0)
        dict_data["n_cum_dose1"] = {"jour_nom": "jour_vacsi", "valeur": list(n_cum_dose1)}
        
        n_dose1 = data_vacsi["n_dose1"].rolling(window=7).mean().fillna(0)
        dict_data["n_dose1"] = {"jour_nom": "jour_vacsi", "valeur": list(round(n_dose1, 1))}
    
    if len(data_vue_ensemble)>0:
        dict_data["jour_ehpad"] = list(data_vue_ensemble.date)
        deces_ehpad = data_vue_ensemble["total_deces_ehpad"].diff().rolling(window=7).mean().fillna(0)
        dict_data["deces_ehpad"] = {"jour_nom": "jour_ehpad", "valeur": list(round(deces_ehpad,2))}
        
        cas_spf = data_vue_ensemble.total_cas_confirmes.diff().fillna(0)
        cas_spf[cas_spf<0] = 0
        cas_spf = cas_spf.replace(to_replace=0, method='ffill')
        cas_spf_rolling = cas_spf.rolling(window=7).mean().fillna(0)
        dict_data["cas_spf"] = {"jour_nom": "jour_ehpad", "valeur": list(round(cas_spf_rolling, 2))}
        dict_data["cas_spf_brut"] = {"jour_nom": "jour_ehpad", "valeur": list(round(cas_spf, 2))}
        
    if len(data_opendata_indicateurs):
        dict_data["jour_spf_opendata"] = list(data_opendata_indicateurs[["date", "conf_j1"]].dropna().date)
        #cas_spf_opendata = data_opendata_indicateurs["conf_j1_corrige"].fillna(0)
        cas_spf_opendata = data_opendata_indicateurs["conf_j1"].dropna()
        cas_spf_opendata_rolling = cas_spf_opendata.rolling(window=7).mean().fillna(0)
        
        dict_data["cas_spf_opendata"] = {"jour_nom": "jour_spf_opendata", "valeur": list(cas_spf_opendata)}
        dict_data["cas_spf_opendata_rolling"] = {"jour_nom": "jour_spf_opendata", "valeur": list(round(cas_spf_opendata_rolling, 2))}
        
        
    if len(data_obepine)>0:
        indicateur_obepine = data_obepine.Indicateur.fillna(0)
        
        dict_data["obepine"] = {"jour_nom": "jour_obepine", "jours":list(data_obepine.Date), "valeur": list(round(indicateur_obepine, 2))}
        
    if len(data_incid)>0:
        taux_incidence = data_incid["P"].rolling(window=7).sum().fillna(0) * 100000 / int(data_incid["pop"].values[0])
        dict_data["incidence"] = {"jour_nom": "jour_incid", "valeur": list(round(taux_incidence, 1))}

        taux_positivite = (data_incid["P"] / data_incid["T"] * 100).rolling(window=7).mean().fillna(0)
        dict_data["taux_positivite"] = {"jour_nom": "jour_incid", "valeur": list(round(taux_positivite, 2))}
        
        taux_positivite = (data_incid["P"].rolling(window=7).mean() / data_incid["T"].rolling(window=7).mean() * 100).fillna(0)
        dict_data["taux_positivite_rolling_before"] = {"jour_nom": "jour_incid", "valeur": list(round(taux_positivite, 2))}
    
        cas = data_incid["P"].rolling(window=7).mean().fillna(0)
        dict_data["cas"] = {"jour_nom": "jour_incid", "valeur": list(round(cas, 1))}
        
        cas = data_incid["P"].fillna(0)
        dict_data["cas_brut"] = {"jour_nom": "jour_incid", "valeur": list(round(cas, 1))}
        
        cas_total = data_incid["P"].sum()
        dict_data["cas_total"] = {"jour_nom": "jour_incid", "valeur": int(cas_total)}
    
        tests = data_incid["T"].rolling(window=7).mean().fillna(0)
        dict_data["tests"] = {"jour_nom": "jour_incid", "valeur": list(round(tests, 1))}
        
        tests_total = data_incid["T"].sum()
        dict_data["tests_total"] = {"jour_nom": "jour_incid", "valeur": int(tests_total)}
        
    if (len(data_metropole)>0) & (mode=="metropoles"):
        taux_incidence = data_metropole["Ti"].fillna(0)
        dict_data["incidence"] = {"jour_nom": "jour_metropoles", "valeur": list(round(taux_incidence, 1))}
        
    if (taux_croissance) and (len(data_hosp)>0):
        hospitalisations_rolling = data_hosp.hosp.rolling(window=7).mean().fillna(0)
        croissance_hospitalisations = ((hospitalisations_rolling-hospitalisations_rolling.shift(7))/hospitalisations_rolling.shift(7).replace(0, None)).fillna(0) * 100
        dict_data["croissance_hospitalisations"] = {"jour_nom": "jour_hosp", "valeur": list(round(croissance_hospitalisations, 1))}
        
        sc_rolling = data_hosp.rea.rolling(window=7).mean().fillna(0)
        croissance_sc = ((sc_rolling-sc_rolling.shift(7))/sc_rolling.shift(7).replace(0, None)).fillna(0) * 100
        dict_data["croissance_reanimations"] = {"jour_nom": "jour_hosp", "valeur": list(round(croissance_sc, 1))}
        
    if len(data_hosp)>0:
        hospitalisations = data_hosp["hosp"].fillna(0)
        dict_data["hospitalisations"] = {"jour_nom": "jour_hosp", "valeur": list(hospitalisations)}

        reanimations = data_hosp.rea.fillna(0)
        dict_data["reanimations"] = {"jour_nom": "jour_hosp", "valeur": list(reanimations)}
        
        saturation_rea = round(data_hosp["rea"]/data_hosp["LITS"].fillna(0)*100, 1)
        dict_data["saturation_reanimations"] = {"jour_nom": "jour_hosp", "valeur": list(saturation_rea)}
    
    if len(data_new)>0:
        incid_hospitalisations = data_new.incid_hosp.rolling(window=7).mean().fillna(0)
        dict_data["incid_hospitalisations"] = {"jour_nom": "jour_new", "valeur": list(round(incid_hospitalisations, 1))}
        
        incid_hospitalisations_total = data_new.incid_hosp.sum()
        dict_data["incid_hospitalisations_total"] = {"jour_nom": "jour_new", "valeur": int(incid_hospitalisations_total)}

        incid_reanimations = data_new.incid_rea.rolling(window=7).mean().fillna(0)
        dict_data["incid_reanimations"] = {"jour_nom": "jour_new", "valeur": list(round(incid_reanimations, 1))}
        
        incid_reanimations_total = data_new.incid_rea.sum()
        dict_data["incid_reanimations_total"] = {"jour_nom": "jour_new", "valeur": int(incid_reanimations_total)}
    
    if len(data_sursaud)>0:
        nbre_acte_corona = data_sursaud.nbre_acte_corona.rolling(window=7).mean().fillna(0)
        dict_data["nbre_acte_corona"] = {"jour_nom": "jour_sursaud", "valeur": list(round(nbre_acte_corona, 1))}

        nbre_pass_corona = data_sursaud.nbre_pass_corona.rolling(window=7).mean().fillna(0)
        dict_data["nbre_pass_corona"] = {"jour_nom": "jour_sursaud", "valeur": list(round(nbre_pass_corona,  1))}
    
    if len(data_new)>0:
        deces_hospitaliers = data_new.incid_dc
        taux_croissance_deces_hospitaliers = ((deces_hospitaliers-deces_hospitaliers.shift(7))/deces_hospitaliers.shift(7).replace(0, None)).fillna(0) * 100
        
        deces_hospitaliers_rolling = data_new.incid_dc.rolling(window=7, center=False).mean().fillna(0)
        taux_croissance_deces_hospitaliers_rolling = ((deces_hospitaliers_rolling-deces_hospitaliers_rolling.shift(7))/deces_hospitaliers_rolling.shift(7).replace(0, None)).fillna(0) * 100
        
        dict_data["deces_hospitaliers"] = {"jour_nom": "jour_new", "valeur": list(round(deces_hospitaliers_rolling, 1))}
        dict_data["croissance_deces_hospitaliers"] = {"jour_nom": "jour_new", "valeur": list(round(taux_croissance_deces_hospitaliers, 1))}
        dict_data["croissance_deces_hospitaliers_rolling7"] = {"jour_nom": "jour_new", "valeur": list(round(taux_croissance_deces_hospitaliers_rolling, 1))}
        
        deces_hospitaliers_total = data_new.incid_dc.sum()
        dict_data["deces_hospitaliers_total"] = {"jour_nom": "jour_new", "valeur": int(deces_hospitaliers_total)}
    
    if len(data_incid)>0:
        population = data_incid["pop"].values[0]
        dict_data["population"] = population

    return dict_data

In [231]:
def generate_data_age(data_incid, data_hosp, data_adm_hosp_clage=pd.DataFrame(), export_jour=False):## Incidence
    clage_tranches = [["9", "19", "29", "39", "49", "59", "69", "79", "89", "90"], ["9", "19"], ["29", "39"], ["49", "59"], ["69", "79"], ["89", "90"]]
    clage_noms = ["tous", "19", "39", "59", "79", "90"]
    clage_noms_disp = ["Tous âges", "0 à 19 ans", "20 à 39 ans", "40 à 59 ans", "60 à 79 ans", "Plus de 80 ans"]
    
    dict_data = {}
    print(data_incid)
    for (idx, clage) in enumerate(clage_tranches):
        clage_nom = clage_noms[idx]
        
        data_incid_clage = data_incid[data_incid.cl_age90.isin(clage)].groupby("jour").sum().reset_index()

        dict_data[clage_nom] = {}
        
        taux_incidence = data_incid_clage["P"].rolling(window=7).sum().fillna(0) * 100000 / data_incid_clage["pop"].values[0]
        dict_data[clage_nom]["incidence"] = {"jour_nom": "jour_incid", "valeur": list(round(taux_incidence,0))}

        taux_positivite = (data_incid_clage["P"] / data_incid_clage["T"] * 100).rolling(window=7).mean().fillna(0)
        dict_data[clage_nom]["taux_positivite"] = {"jour_nom": "jour_incid", "valeur": list(round(taux_positivite,2))}

        cas = data_incid_clage["P"].rolling(window=7).mean().fillna(0)
        dict_data[clage_nom]["cas"] = {"jour_nom": "jour_incid", "valeur": list(round(cas, 1))}
        
        taux_croissance_cas = ((cas-cas.shift(7))/cas.shift(7).replace(0, None)).fillna(0) * 100
        taux_croissance_cas[taux_croissance_cas>200] = 200
        taux_croissance_cas[taux_croissance_cas<-200] = -200
        #taux_croissance_cas = taux_croissance_cas.rolling(window=7).mean().fillna(0)
        dict_data[clage_nom]["cas_croissance_hebdo"] = {"jour_nom": "jour_incid", "valeur": list(round(taux_croissance_cas, 1))}

        tests = data_incid_clage["T"].rolling(window=7).mean().fillna(0)
        dict_data[clage_nom]["tests"] = {"jour_nom": "jour_incid", "valeur": list(round(tests, 1))}
        
        population = data_incid_clage["pop"].values[0]
        dict_data[clage_nom]["population"] = population
        
        if (len(data_hosp)):  
            data_hosp_clage = data_hosp[data_hosp.cl_age90.isin(clage)].groupby("jour").sum().reset_index()
            hospitalisations = data_hosp_clage.hosp.fillna(0)
            dict_data[clage_nom]["hospitalisations"] = {"jour_nom": "jour_hosp", "valeur": list(hospitalisations)}

            reanimations = data_hosp_clage.rea.fillna(0)
            dict_data[clage_nom]["reanimations"] = {"jour_nom": "jour_hosp", "valeur": list(reanimations)}

            deces_hospitaliers = data_hosp_clage.dc.diff().rolling(window=7).mean().fillna(0)
            dict_data[clage_nom]["deces_hospitaliers"] = {"jour_nom": "jour_hosp", "valeur": list(round(deces_hospitaliers, 1))}
        
        if(len(data_adm_hosp_clage)):
            print(data_adm_hosp_clage)
            df_adm_hosp_clage_temp = data_adm_hosp_clage[data_adm_hosp_clage.cl_age90.isin(clage)].groupby("jour").sum().reset_index()
            adm_hospitalisations = df_adm_hosp_clage_temp["NewAdmHospit"]
            dict_data[clage_nom]["adm_hospitalisations"] = {"jour_nom": "jour_adm_hosp_clage", "valeur": list(round(adm_hospitalisations/7, 1))}
            
    if export_jour:
            dict_data["jour_incid"] = list(data_incid.jour.unique())
            dict_data["jour_hosp"] = list(data_hosp.jour.unique())
            dict_data["tranches"] = clage_tranches
            dict_data["tranches_noms"] = clage_noms
            dict_data["tranches_noms_affichage"] = clage_noms_disp
            
            if(len(data_adm_hosp_clage)):
                dict_data["jour_adm_hosp_clage"] = list(data_adm_hosp_clage.jour.dt.strftime('%Y-%m-%d').unique())

    return dict_data

In [167]:
def generate_data_niveaux_scolaires(data_incid_niveaux_scolaires, export_jour=False):
    dict_data={}
    clage_tranches = ["0", "2", "5", "10", "14", "17", "18"]
    clage_noms = ["tous_scol", "02_scol", "05_scol", "10_scol", "14_scol", "17_scol", "18_scol"]
    clage_noms_disp = ["Tous", "0 - 2 ans", "3 - 5 ans", "6 - 10 ans", "11 - 14 ans", "15 - 17 ans", "plus 18 ans"]
    
    for (idx, clage) in enumerate(clage_tranches):
        clage_nom = clage_noms[idx]
        data_incid_niveaux_scolaires_clage = data_incid_niveaux_scolaires[data_incid_niveaux_scolaires.age_18ans == clage].reset_index()

        dict_data[clage_nom] = {}

        taux_incidence = data_incid_niveaux_scolaires_clage["Ti"]
        taux_depistage = data_incid_niveaux_scolaires_clage["Td"]
        taux_positivite = data_incid_niveaux_scolaires_clage["Tp"]

        dict_data[clage_nom]["incidence"] = {"jour_nom": "jour_niveaux_scolaires", "valeur": round(taux_incidence.astype(float)).astype(int).tolist()}
        dict_data[clage_nom]["depistage"] = {"jour_nom": "jour_niveaux_scolaires", "valeur": round(taux_depistage.astype(float)).astype(int).tolist()}
        dict_data[clage_nom]["positivite"] = {"jour_nom": "jour_niveaux_scolaires", "valeur": round(taux_positivite.astype(float), 1).tolist()}
            
    if export_jour:
            dict_data["jour_niveaux_scolaires"] = list(data_incid_niveaux_scolaires.jour.unique().astype(str))
            dict_data["tranches_scolaires"] = clage_tranches
            dict_data["tranches_noms_scolaires"] = clage_noms
            dict_data["tranches_noms_affichage_scolaires"] = clage_noms_disp

    return dict_data

In [140]:
def generate_data_education(df_education):
    clage_noms = [2, 5, 10, 14, 17, 18]
    clage_disp = ["0 - 2 ans", "3 - 5 ans", "6 - 10 ans", "11 - 14 ans", "15 - 17 ans", "Plus 18 ans"]
    
    dict_data = {}
    dict_data["tranches_noms"] = clage_noms
    dict_data["tranches_noms_affichage"] = clage_disp
    
    for clage in clage_noms:
        dict_data[clage] = {}
        
        df_temp = df_education[df_education["age_18ans"]==clage]
        
        dict_data[clage]["Ti"] = df_temp["Ti"].fillna(0).tolist()
        dict_data[clage]["Tp"] = df_temp["Tp"].fillna(0).tolist()
        dict_data[clage]["Td"] = df_temp["Td"].fillna(0).tolist()
        
    return dict_data

In [124]:
def export_data(data, suffix=""):
    with open(PATH_STATS + 'dataexplorer{}.json'.format(suffix), 'w') as outfile:
        json.dump(data, outfile)

In [163]:
def dataexplorer():
    dict_data = {}
    
    regions = sorted(list(df_regions.regionName.unique()))
    departements = list(df.dep.unique())
    
    dict_data["regions"] = regions
    dict_data["metropoles"] = sorted(metropoles)
    dict_data["departements"] = departements
    dict_data["france"] = generate_data(df_incid_fra, df_france, df_sursaud_france, df_new_france, df_vue_ensemble, data_metropole=df_metro_0, data_vacsi=df_vacsi, data_obepine=pd.DataFrame(), data_opendata_indicateurs=df_opendata_indicateurs, mode="france", export_jour=True, taux_croissance=True)
    dict_data["metropole"] = generate_data(df_incid[df_incid["dep"].str.len()<=2].groupby(["jour"]).sum(), df[df["dep"].str.len()<=2].groupby(["jour"]).sum(), df_sursaud[df_sursaud["dep"].str.len()<=2].groupby(["date_de_passage"]).sum(), df_new[df_new["dep"].str.len()<=2].groupby(["jour"]).sum(), data_vacsi=df_vacsi_dep[df_new["dep"].str.len()<=2].groupby(["jour"]).sum())
    dict_data["drom_com"] = generate_data(df_incid[df_incid["dep"].str.len()>2].groupby(["jour"]).sum(), df[df["dep"].str.len()>2].groupby(["jour"]).sum(), df_sursaud[df_sursaud["dep"].str.len()>2].groupby(["date_de_passage"]).sum(), df_new[df_new["dep"].str.len()>2].groupby(["jour"]).sum(), data_vacsi=df_vacsi_dep[df_new["dep"].str.len()>2].groupby(["jour"]).sum())

    noms_departements={}
    
    for reg in regions:
        print(reg)
        data_hosp = df_regions[df_regions.regionName==reg]
        dict_data[reg] = generate_data(data_incid=df_incid_regions[df_incid_regions.regionName==reg], \
                                       data_hosp=data_hosp,\
                                       data_sursaud=df_sursaud_regions[df_sursaud_regions.regionName==reg],
                                       data_new=df_new_regions[df_new_regions.regionName==reg],
                                       data_vacsi=df_vacsi_reg[df_vacsi_reg.regionName==reg],\
                                       data_obepine=pd.DataFrame(), #df_obepine[df_obepine.regionName==reg]
                                      )
    print("Regions : done")
    
    for dep in departements:
        print(dep)
        df_incid_dep = df_incid[df_incid.dep==dep]
        df_dep = df[df.dep==dep]
        dict_data[dep] = generate_data(data_incid=df_incid_dep, 
                                       data_hosp=df_dep,
                                       data_sursaud=df_sursaud[df_sursaud.dep==dep],
                                       data_new=df_new[df_new.dep==dep],
                                       data_vacsi=df_vacsi_dep[df_vacsi_dep.dep==dep])
        noms_departements[dep] = df_dep["departmentName"].values[0]
    dict_data["departements_noms"] = noms_departements
    
    for zone in [zone_a, zone_b, zone_c]:
        df_incid_zone = df_incid[df_incid.dep.isin(zone)].groupby("jour").sum().reset_index()
        df_zone = df[df.dep.isin(zone)].groupby("jour").sum().reset_index()
        df_sursaud_zone = df_sursaud[df_sursaud.dep.isin(zone)].groupby("date_de_passage").sum().reset_index()
        df_new_zone = df_new[df_new.dep.isin(zone)].groupby("jour").sum().reset_index()
        df_vacsi_zone = df_vacsi_dep[df_vacsi_dep.dep.isin(zone)].groupby("jour").sum().reset_index()
        
        dict_data[zone[0]] = generate_data(df_incid_zone, df_zone, df_sursaud_zone, df_new_zone, data_vacsi=df_vacsi_zone)
    
    # Confinés mars 2021
    df_incid_zone = df_incid[df_incid.dep.isin(confines_mars_2021)].groupby("jour").sum().reset_index()
    df_zone = df[df.dep.isin(confines_mars_2021)].groupby("jour").sum().reset_index()
    df_sursaud_zone = df_sursaud[df_sursaud.dep.isin(confines_mars_2021)].groupby("date_de_passage").sum().reset_index()
    df_new_zone = df_new[df_new.dep.isin(confines_mars_2021)].groupby("jour").sum().reset_index()
    df_vacsi_zone = df_vacsi_dep[df_vacsi_dep.dep.isin(confines_mars_2021)].groupby("jour").sum().reset_index()
    
    dict_data["confines_mars_2021"] = generate_data(df_incid_zone, df_zone, df_sursaud_zone, df_new_zone, data_vacsi=df_vacsi_zone)
        
    for metropole in metropoles:
        print(metropole)
        dict_data[metropole] = generate_data(data_metropole=df_metro_0[df_metro_0.Metropole == metropole], mode="metropoles")
        
    dict_data["zones_vacances"] = ["zone_a", "zone_b", "zone_c"]
    
    export_data(dict_data, suffix="_compr")
    export_data(dict_data["france"], suffix="_compr_france")
    return dict_data

In [180]:
def dataexplorer_age():
    dict_data = {}
    regions_tests_viros = list(dict.fromkeys(list(df_tests_viros_enrichi['regionName'].dropna().values))) 
    departements_tests_viros = list(dict.fromkeys(list(df_tests_viros_enrichi['dep'].dropna().values))) 
    dict_data["regions"] = sorted(regions_tests_viros)
    dict_data["departements"] = sorted(departements_tests_viros)

    dict_data["france"] = generate_data_age(data_incid=df_tests_viros_france, data_hosp=df_hosp_clage_france, data_adm_hosp_clage=df_adm_hosp_clage_france, export_jour=True)

    for reg in regions_tests_viros:
        dict_data[reg] = generate_data_age(df_tests_viros_regions[df_tests_viros_regions.regionName == reg],\
                                           df_hosp_clage_regions[df_hosp_clage_regions.regionName == reg]) #data_adm_hosp_clage=data_adm_hosp_clage
    noms_departements={}
    for dep in departements_tests_viros:
        df_tests_viros_enrichi_temp = df_tests_viros_enrichi[df_tests_viros_enrichi.dep == dep]
        dict_data[dep] = generate_data_age(df_tests_viros_enrichi_temp,\
                                           pd.DataFrame())
        
        nom_dep = df_tests_viros_enrichi_temp["departmentName"].values[0]
        
        if(type(nom_dep) is float): #Pas de nom, nom_dep == NaN
            nom_dep = "--"
        
        noms_departements[dep] = nom_dep
        
    dict_data["departements_noms"] = noms_departements
    
    export_data(dict_data, suffix="_compr_age")
    return dict_data

In [127]:
def dataexplorer_education():
    dict_data = {}
    dict_data["france"] = generate_data_education(df_education=df_education)
    export_data(dict_data, suffix="_education")

In [128]:
def dataexplorer_niveaux_scolaires():
    df_niveaux_scolaires_dep_sorted = df_niveaux_scolaires_dep.sort_values(by="dep")
    df_niveaux_scolaires_reg_sorted = df_niveaux_scolaires_reg.sort_values(by="reg")
    
    dict_data = {}
    
    dict_data["departements_noms"] = list(df_niveaux_scolaires_dep_sorted["departmentName"].unique().astype(str))
    dict_data["departements"] = list(df_niveaux_scolaires_dep_sorted["dep"].unique().astype(str))
    
    dict_data["regions_noms"] = list(df_niveaux_scolaires_reg_sorted["regionName"].unique().astype(str))
    dict_data["regions"] = dict_data["regions_noms"] #list(df_niveaux_scolaires_reg_sorted["reg"].unique().astype(str))
    
    dict_data["france"] = generate_data_niveaux_scolaires(data_incid_niveaux_scolaires=df_niveaux_scolaires_fra, export_jour=True)
    
    for dep in dict_data["departements"]:
        data_incid_niveaux_scolaires_dep_temp = df_niveaux_scolaires_dep[df_niveaux_scolaires_dep["dep"] == dep]
        dict_data[dep] = generate_data_niveaux_scolaires(data_incid_niveaux_scolaires=data_incid_niveaux_scolaires_dep_temp, export_jour=False)
        
    for reg in dict_data["regions_noms"]:
        print(reg)
        data_incid_niveaux_scolaires_reg_temp = df_niveaux_scolaires_reg[df_niveaux_scolaires_reg["regionName"] == reg]
        dict_data[reg] = generate_data_niveaux_scolaires(data_incid_niveaux_scolaires=data_incid_niveaux_scolaires_reg_temp, export_jour=False)
    
    export_data(dict_data, suffix="_education")
    return dict_data

In [129]:
def data_nouveau_dashboard_france():
    data={}
    name="hospitalisations_par_age"
    
    df = df_hosp_clage_france[df_hosp_clage_france["jour"]==df_hosp_clage_france["jour"].max()]
    df = df[df["cl_age90"] != 0].sort_values(by="cl_age90")
    
    data["cl_age90"] = ["0-9 ans", "10-19 ans", "20-29 ans", "30-39 ans", "40-49 ans", "50-59 ans", "60-69 ans", "70-79 ans", "80-89 ans", "+ 90 ans"]
    data["hosp"] = df["hosp"].fillna(0).tolist()
    data["rea"] = df["rea"].fillna(0).tolist()
    
    with open(PATH_STATS + 'api/{}.json'.format(name), 'w') as outfile:
        json.dump(data, outfile)

In [131]:
data_nouveau_dashboard_france()

In [168]:
dict_ns = dataexplorer_niveaux_scolaires()

Series([], Name: Ti, dtype: float64)
0        0.0
1        1.0
2        1.0
3        1.0
4        1.0
       ...
732    174.0
733    160.0
734    152.0
735    142.0
736    134.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        0.0
2        0.0
3        1.0
4        1.0
       ...
732    217.0
733    194.0
734    180.0
735    166.0
736    153.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        1.0
2        1.0
3        1.0
4        1.0
       ...
732    287.0
733    268.0
734    254.0
735    242.0
736    228.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        1.0
2        1.0
3        1.0
4        1.0
       ...
732    271.0
733    260.0
734    254.0
735    245.0
736    233.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        1.0
2        1.0
3        1.0
4        1.0
       ...
732    210.0
733    198.0
734    190.0
735    184.0
736    177.0
Name: Ti, Length: 737, dtype: float64
0        2.0
1        3.0
2        5.0
3        6.0
4        6.0
       ...
732    357.0
733    335.0
734    321.0
735    307.0
736    294.0
Name: Ti, Length: 737, dtype: float64
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
0        4.0
1        4.0
2        4.0
3        4.0
4        4.0
       ...
730    288.0
731    256.0
732    249.0
733    199.0
734    199.0
Name: Ti, Length: 735, dtype: float64
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
731    232.0
732    183.0
733    159.0
734    171.0
735    135.0
Name: Ti, Length: 736, dtype: float64
Series([], Name: Ti, dtype: float64)
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
731    260.0
732    265.0
733    260.0
734    283.0
735    242.0
Name: Ti, Length: 736, dtype: float64
0        0.0
1        0.0
2        7.0
3        7.0
4        7.0
       ...
731    280.0
732    226.0
733    212.0
734    226.0
735    185.0
Name: Ti, Length: 736, dtype: float64
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
731    268.0
732    376.0
733    349.0
734    295.0
735    295.0
Name: Ti, Length: 736, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
731    287.0
732    305.0
733    323.0
734    251.0
735    233.0
Name: Ti, Length: 736, dtype: float64
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
730    219.0
731    194.0
732    194.0
733    194.0
734    194.0
Name: Ti, Length: 735, dtype: float64
Series([], Name: Ti, dtype: float64)
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
730    144.0
731    103.0
732    103.0
733    144.0
734    205.0
Name: Ti, Length: 735, dtype: float64
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
0        0.0
1        0.0
2        0.0
3        0.0
4        2.0
       ...
731    341.0
732    320.0
733    280.0
734    255.0
735    219.0
Name: Ti, Length: 736, dtype: float64
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
731    244.0
732    271.0
733    266.0
734    260.0
735    244.0
Name: Ti, Length: 736, dtype: float64
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
731    111.0
732    130.0
733    130.0
734    102.0
735    130.0
Name: Ti, Length: 736, dtype: float64
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
731    132.0
732    167.0
733    188.0
734    188.0
735    195.0
Name: Ti, Length: 736, dtype: float64
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
731    288.0
732    192.0
733    128.0
734    128.0
735     64.0
Name: Ti, Length: 736, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
731    116.0
732     58.0
733     58.0
734     87.0
735     87.0
Name: Ti, Length: 736, dtype: float64
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
727    171.0
728    148.0
729    114.0
730     57.0
731     57.0
Name: Ti, Length: 732, dtype: float64
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
730    126.0
731    135.0
732    135.0
733    126.0
734    126.0
Name: Ti, Length: 735, dtype: float64
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
730    200.0
731    274.0
732    250.0
733    250.0
734    262.0
Name: Ti, Length: 735, dtype: float64
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
731    334.0
732    334.0
733    260.0
734    223.0
735    238.0
Name: Ti, Length: 736, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
731    305.0
732    252.0
733    231.0
734    200.0
735    200.0
Name: Ti, Length: 736, dtype: float64
0     1316.0
1     1314.0
2     1383.0
3     1425.0
4     1449.0
5     1451.0
6     1442.0
7     1432.0
8     1434.0
9     1387.0
10    1386.0
11    1371.0
12    1379.0
13    1416.0
14    1417.0
15    1428.0
16    1443.0
17    1442.0
18    1449.0
19    1414.0
20    1381.0
21    1379.0
22    1367.0
23    1082.0
24    1088.0
25    1036.0
26     973.0
27     916.0
28     883.0
29     881.0
30    1046.0
31     944.0
32     895.0
33     865.0
34     838.0
35     810.0
36     807.0
37     751.0
38     683.0
39     630.0
40     595.0
41     549.0
42     512.0
43     508.0
44     482.0
45     458.0
46     424.0
47     399.0
48     380.0
49     367.0
50     364.0
51     314.0
52     292.0
53     277.0
54     264.0
Name: Ti, dtype: float64
Series([], Name: Ti, dtype: float64)
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
728    213.0
729    178.0
730    142.0
731    107.0
732     53.0
Name: Ti, Length: 733, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
730    340.0
731    324.0
732    371.0
733    309.0
734    294.0
Name: Ti, Length: 735, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    333.0
733    350.0
734    309.0
735    293.0
736    236.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    200.0
733    267.0
734    258.0
735    248.0
736    229.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    188.0
733    238.0
734    238.0
735    263.0
736    250.0
Name: Ti, Length: 737, dtype: float64
0        2.0
1        2.0
2        3.0
3        3.0
4        3.0
       ...
732    311.0
733    285.0
734    277.0
735    252.0
736    241.0
Name: Ti, Length: 737, dtype: float64
Series([], Name: Ti, dtype: float64)
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    225.0
733    198.0
734    205.0
735    165.0
736    152.0
Name: Ti, Length: 737, dtype: float64

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    260.0
733    242.0
734    236.0
735    206.0
736    188.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    366.0
733    335.0
734    298.0
735    278.0
736    254.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    223.0
733    227.0
734    219.0
735    190.0
736    215.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    197.0
733    217.0
734    222.0
735    217.0
736    222.0
Name: Ti, Length: 737, dtype: float64
0        1.0
1        3.0
2        4.0
3        5.0
4        5.0
       ...
732    378.0
733    347.0
734    321.0
735    305.0
736    292.0
Name: Ti, Length: 737, dtype: float64
Series([], Name: Ti, dtype: float64)
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    314.0
733    307.0
734    275.0
735    224.0
736    186.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        6.0
2       11.0
3       11.0
4       11.0
       ...
732    239.0
733    108.0
734    114.0
735    120.0
736    108.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    380.0
733    360.0
734    383.0
735    375.0
736    334.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        3.0
2        7.0
3       10.0
4       10.0
       ...
732    318.0
733    273.0
734    260.0
735    229.0
736    181.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        0.0
2        5.0
3        5.0
4        5.0
       ...
732    238.0
733    224.0
734    192.0
735    169.0
736    183.0
Name: Ti, Length: 737, dtype: float64
0        1.0
1        1.0
2        4.0
3        4.0
4        5.0
       ...
732    380.0
733    357.0
734    345.0
735    329.0
736    307.0
Name: Ti, Length: 737, dtype: float64
Series([], Name: Ti, dtype: float64)
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
729    250.0
730    208.0
731    125.0
732    208.0
733    125.0
Name: Ti, Length: 734, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
725    471.0
726    326.0
727    399.0
728    362.0
729    399.0
Name: Ti, Length: 730, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
730    223.0
731    186.0
732    112.0
733     93.0
734     93.0
Name: Ti, Length: 735, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
730    254.0
731    148.0
732    127.0
733    127.0
734    127.0
Name: Ti, Length: 735, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
730    291.0
731    321.0
732    204.0
733    146.0
734    146.0
Name: Ti, Length: 735, dtype: float64
0        1.0
1        2.0
2        2.0
3        2.0
4        2.0
       ...
732    245.0
733    199.0
734    185.0
735    169.0
736    158.0
Name: Ti, Length: 737, dtype: float64
Series([], Name: Ti, dtype: float64)
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
729    156.0
730    134.0
731    134.0
732    145.0
733    134.0
Name: Ti, Length: 734, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    138.0
733    128.0
734    138.0
735    128.0
736     99.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    224.0
733    224.0
734    260.0
735    209.0
736    193.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    217.0
733    234.0
734    257.0
735    245.0
736    228.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732     87.0
733     79.0
734     87.0
735     79.0
736    103.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        1.0
2        1.0
3        1.0
4        1.0
       ...
732    274.0
733    261.0
734    257.0
735    249.0
736    239.0
Name: Ti, Length: 737, dtype: float64
Series([], Name: Ti, dtype: float64)
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    129.0
733    135.0
734    135.0
735    141.0
736    117.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    242.0
733    200.0
734    194.0
735    173.0
736    131.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        3.0
2        3.0
3        6.0
4        6.0
       ...
732    378.0
733    345.0
734    351.0
735    336.0
736    301.0
Name: Ti, Length: 737, dtype: float64
0        4.0
1        4.0
2        4.0
3        4.0
4        4.0
       ...
732    207.0
733    207.0
734    214.0
735    214.0
736    196.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    103.0
733    127.0
734    122.0
735    132.0
736    137.0
Name: Ti, Length: 737, dtype: float64
0        1.0
1        2.0
2        4.0
3        5.0
4        5.0
       ...
732    329.0
733    304.0
734    295.0
735    272.0
736    260.0
Name: Ti, Length: 737, dtype: float64
Series([], Name: Ti, dtype: float64)
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    149.0
733    149.0
734    130.0
735     87.0
736     99.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    226.0
733    220.0
734    176.0
735    154.0
736    171.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    272.0
733    275.0
734    260.0
735    248.0
736    193.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    154.0
733    165.0
734    172.0
735    161.0
736    154.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    154.0
733    139.0
734    139.0
735    139.0
736    139.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        3.0
2        4.0
3        5.0
4        5.0
       ...
732    322.0
733    303.0
734    291.0
735    272.0
736    245.0
Name: Ti, Length: 737, dtype: float64
Series([], Name: Ti, dtype: float64)
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    207.0
733    191.0
734    207.0
735    229.0
736    191.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    212.0
733    249.0
734    244.0
735    207.0
736    180.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    274.0
733    233.0
734    235.0
735    223.0
736    181.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    226.0
733    229.0
734    229.0
735    232.0
736    229.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    255.0
733    255.0
734    234.0
735    225.0
736    204.0
Name: Ti, Length: 737, dtype: float64
0        2.0
1        3.0
2        3.0
3        3.0
4        3.0
       ...
732    302.0
733    279.0
734    274.0
735    265.0
736    249.0
Name: Ti, Length: 737, dtype: float64
Series([], Name: Ti, dtype: float64)
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    277.0
733    218.0
734    226.0
735    175.0
736    153.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    369.0
733    286.0
734    267.0
735    242.0
736    223.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    382.0
733    372.0
734    354.0
735    379.0
736    351.0
Name: Ti, Length: 737, dtype: float64
0        4.0
1        4.0
2        4.0
3        4.0
4        4.0
       ...
732    349.0
733    375.0
734    357.0
735    323.0
736    293.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        0.0
2        6.0
3        6.0
4        6.0
       ...
732    264.0
733    233.0
734    221.0
735    221.0
736    221.0
Name: Ti, Length: 737, dtype: float64
0        1.0
1        3.0
2        5.0
3        5.0
4        5.0
       ...
732    399.0
733    368.0
734    345.0
735    323.0
736    303.0
Name: Ti, Length: 737, dtype: float64
Series([], Name: Ti, dtype: float64)
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    300.0
733    271.0
734    233.0
735    233.0
736    217.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    382.0
733    323.0
734    282.0
735    245.0
736    223.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    504.0
733    498.0
734    472.0
735    441.0
736    407.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    435.0
733    419.0
734    393.0
735    366.0
736    354.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    292.0
733    272.0
734    257.0
735    283.0
736    269.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        0.0
2        1.0
3        1.0
4        1.0
       ...
732    433.0
733    400.0
734    381.0
735    360.0
736    346.0
Name: Ti, Length: 737, dtype: float64
Series([], Name: Ti, dtype: float64)
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
731    143.0
732    119.0
733    143.0
734     71.0
735     95.0

Name: Ti, Length: 736, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
725    245.0
726    184.0
727    102.0
728     82.0
729     61.0
Name: Ti, Length: 730, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    267.0
733    244.0
734    255.0
735    267.0
736    255.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
731    196.0
732    211.0
733    211.0
734    180.0
735    180.0
Name: Ti, Length: 736, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    134.0
733    179.0
734    201.0
735    246.0
736    246.0
Name: Ti, Length: 737, dtype: float64
0        3.0
1        4.0
2        5.0
3        5.0
4        5.0
       ...
732    374.0
733    331.0
734    287.0
735    285.0
736    277.0
Name: Ti, Length: 737, dtype: float64
Series([], Name: Ti, dtype: float64)
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    400.0
733    336.0
734    358.0
735    315.0
736    315.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    339.0
733    320.0
734    264.0
735    264.0
736    283.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
731    236.0
732    236.0
733    266.0
734    277.0
735    246.0
Name: Ti, Length: 736, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    238.0
733    291.0
734    317.0
735    304.0
736    317.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    250.0
733    268.0
734    286.0
735    322.0
736    304.0
Name: Ti, Length: 737, dtype: float64
0        1.0
1        2.0
2        2.0
3        3.0
4        3.0
       ...
732    399.0
733    348.0
734    312.0
735    303.0
736    291.0
Name: Ti, Length: 737, dtype: float64
Series([], Name: Ti, dtype: float64)
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    129.0
733    133.0
734    133.0
735    129.0
736    124.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    108.0
733    117.0
734    112.0
735     87.0
736     75.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    121.0
733    153.0
734    150.0
735    139.0
736    139.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    145.0
733    140.0
734    156.0
735    156.0
736    140.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        4.0
2        4.0
3        4.0
4        4.0
       ...
732    126.0
733    100.0
734     81.0
735     74.0
736     81.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        3.0
2        5.0
3        6.0
4        6.0
       ...
732    268.0
733    247.0
734    235.0
735    224.0
736    212.0
Name: Ti, Length: 737, dtype: float64
Series([], Name: Ti, dtype: float64)
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    145.0
733    134.0
734    125.0
735    123.0
736    110.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        0.0
2        2.0
3        2.0
4        2.0
       ...
732    131.0
733    137.0
734    140.0
735    137.0
736    133.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    118.0
733    128.0
734    141.0
735    144.0
736    144.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    165.0
733    179.0
734    187.0
735    199.0
736    190.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732     94.0
733    100.0
734    103.0
735    113.0
736    125.0
Name: Ti, Length: 737, dtype: float64
0        2.0
1        2.0
2        4.0
3        4.0
4        4.0
       ...
732    312.0
733    292.0
734    286.0
735    273.0
736    265.0
Name: Ti, Length: 737, dtype: float64
Series([], Name: Ti, dtype: float64)
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732     94.0
733    117.0
734     47.0
735     47.0
736     47.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
730    134.0
731    134.0
732    115.0
733    115.0
734     96.0
Name: Ti, Length: 735, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    130.0
733     90.0
734    100.0
735     90.0
736     80.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    270.0
733    258.0
734    258.0
735    258.0
736    176.0
Name: Ti, Length: 737, dtype: float64
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
732    33.0
733    49.0
734    65.0
735    98.0
736    98.0
Name: Ti, Length: 737, dtype: float64
0        1.0
1        3.0
2        3.0
3        4.0
4        6.0
       ...
732    278.0
733    237.0
734    232.0
735    213.0
736    206.0
Name: Ti, Length: 737, dtype: float64
Series([], Name: Ti, dtype: float64)
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
732    79.0
733    77.0
734    86.0
735    77.0
736    69.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    130.0
733    128.0
734    128.0
735    126.0
736    115.0
Name: Ti, Length: 737, dtype: float64
0        1.0
1        1.0
2        1.0
3        1.0
4        1.0
       ...
732    176.0
733    155.0
734    158.0
735    156.0
736    146.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    193.0
733    210.0
734    214.0
735    205.0
736    203.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    105.0
733    123.0
734    127.0
735    122.0
736    120.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        1.0
2        1.0
3        1.0
4        1.0
       ...
732    264.0
733    253.0
734    245.0
735    236.0
736    226.0
Name: Ti, Length: 737, dtype: float64
Series([], Name: Ti, dtype: float64)
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    128.0
733    100.0
734    105.0
735    108.0
736    117.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    111.0
733    111.0
734    111.0
735    121.0
736    126.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    145.0
733    139.0
734    168.0
735    176.0
736    192.0
Name: Ti, Length: 737, dtype: float64
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
629    6244.0
630    5875.0
631    5599.0
632    5173.0
633    4864.0
Name: Ti, Length: 634, dtype: float64
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
728    79.0
729    59.0
730    79.0
731    98.0
732    59.0
Name: Ti, Length: 733, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
731    225.0
732    138.0
733     86.0
734     69.0
735     86.0
Name: Ti, Length: 736, dtype: float64
Series([], Name: Ti, dtype: float64)
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
730    218.0
731    229.0
732    218.0
733    187.0
734    177.0
Name: Ti, Length: 735, dtype: float64
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
731    152.0
732    173.0
733    178.0
734    183.0
735    194.0
Name: Ti, Length: 736, dtype: float64
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
731    386.0
732    294.0
733    203.0
734    142.0
735     91.0
Name: Ti, Length: 736, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
731    493.0
732    462.0
733    446.0
734    451.0
735    483.0
Name: Ti, Length: 736, dtype: float64
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)

Series([], Name: Ti, dtype: float64)
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
731    116.0
732     33.0
733     50.0
734     50.0
735     83.0
Name: Ti, Length: 736, dtype: float64
Series([], Name: Ti, dtype: float64)
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
731    315.0
732    291.0
733    354.0
734    330.0
735    315.0
Name: Ti, Length: 736, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
731    288.0
732    261.0
733    288.0
734    288.0
735    279.0
Name: Ti, Length: 736, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
730    311.0
731    287.0
732    251.0
733    215.0
734    179.0
Name: Ti, Length: 735, dtype: float64
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
726    79.0
727    53.0
728    79.0
729    79.0
730    53.0
Name: Ti, Length: 731, dtype: float64
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
687    57.0
688    57.0
689    57.0
690     0.0
691     0.0
Name: Ti, Length: 692, dtype: float64
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
731    233.0
732    228.0
733    211.0
734    193.0
735    176.0
Name: Ti, Length: 736, dtype: float64
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
731    140.0
732     80.0
733     80.0
734     40.0
735     40.0
Name: Ti, Length: 736, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
731    365.0
732    255.0
733    199.0
734    155.0
735    144.0
Name: Ti, Length: 736, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
730    234.0
731    182.0
732    169.0
733    104.0
734    130.0
Name: Ti, Length: 735, dtype: float64
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
731    387.0
732    340.0
733    274.0
734    245.0
735    207.0
Name: Ti, Length: 736, dtype: float64
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
727    217.0
728    195.0
729    130.0
730    130.0
731    152.0
Name: Ti, Length: 732, dtype: float64
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
727    109.0
728     93.0
729     93.0
730    109.0
731    125.0
Name: Ti, Length: 732, dtype: float64
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
731    426.0
732    376.0
733    336.0
734    330.0
735    311.0
Name: Ti, Length: 736, dtype: float64
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
731    256.0
732    228.0
733    185.0
734    199.0
735    157.0
Name: Ti, Length: 736, dtype: float64
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
731    107.0
732    125.0
733    125.0
734    134.0
735    143.0
Name: Ti, Length: 736, dtype: float64
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
730    154.0
731    140.0
732    140.0
733    112.0
734    126.0
Name: Ti, Length: 735, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
731    228.0
732    206.0
733    177.0
734    191.0
735    169.0
Name: Ti, Length: 736, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
731    168.0
732    142.0
733    151.0
734    134.0
735    126.0
Name: Ti, Length: 736, dtype: float64
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
731    355.0
732    337.0
733    305.0
734    283.0
735    255.0
Name: Ti, Length: 736, dtype: float64
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
731    280.0
732    254.0
733    192.0
734    161.0
735    129.0
Name: Ti, Length: 736, dtype: float64
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
731    253.0
732    184.0
733    138.0
734     92.0
735    115.0
Name: Ti, Length: 736, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
731    133.0
732    155.0
733    177.0
734    133.0
735    133.0
Name: Ti, Length: 736, dtype: float64
Series([], Name: Ti, dtype: float64)
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
731    198.0
732    212.0
733    184.0
734    170.0
735    184.0
Name: Ti, Length: 736, dtype: float64
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
731    209.0
732    152.0
733    133.0
734    171.0
735    161.0
Name: Ti, Length: 736, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
731    360.0
732    335.0
733    300.0
734    275.0
735    249.0
Name: Ti, Length: 736, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
731    589.0
732    584.0
733    505.0
734    562.0
735    536.0
Name: Ti, Length: 736, dtype: float64
Series([], Name: Ti, dtype: float64)
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
731    665.0
732    586.0
733    645.0
734    658.0
735    744.0
Name: Ti, Length: 736, dtype: float64
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
728    15.0
729    10.0
730    10.0
731     5.0
732    10.0
Name: Ti, Length: 733, dtype: float64
0       0.0
1       6.0
2       6.0
3       6.0
4       6.0
       ...
724    46.0
725    52.0
726    46.0
727    46.0
728    46.0
Name: Ti, Length: 729, dtype: float64
0        0.0
1        3.0
2        3.0
3        3.0
4        3.0
       ...
724    112.0
725     93.0
726     83.0
727     79.0
728     86.0
Name: Ti, Length: 729, dtype: float64
0        8.0
1        8.0
2       20.0
3       40.0
4       44.0
       ...
724    141.0
725    161.0
726    149.0
727    153.0
728    161.0
Name: Ti, Length: 729, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
730    139.0
731    139.0
732    150.0
733    133.0
734    139.0
Name: Ti, Length: 735, dtype: float64
Series([], Name: Ti, dtype: float64)

Series([], Name: Ti, dtype: float64)
0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
     ...
93    0.0
94    0.0
95    0.0
96    0.0
97    0.0
Name: Ti, Length: 98, dtype: float64
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
110    0.0
111    0.0
112    0.0
113    0.0
114    0.0
Name: Ti, Length: 115, dtype: float64
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
327    0.0
328    0.0
329    0.0
330    0.0
331    0.0
Name: Ti, Length: 332, dtype: float64
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
383    0.0
384    0.0
385    0.0
386    0.0
387    0.0
Name: Ti, Length: 388, dtype: float64
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
373    0.0
374    0.0
375    0.0
376    0.0
377    0.0
Name: Ti, Length: 378, dtype: float64
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
724    43.0
725    86.0
726    86.0
727    86.0
728    86.0
Name: Ti, Length: 729, dtype: float64
Series([], Name: Ti, dtype: float64)
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
730    4.0
731    0.0
732    0.0
733    4.0
734    4.0
Name: Ti, Length: 735, dtype: float64
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
725    0.0
726    0.0
727    0.0
728    0.0
729    0.0
Name: Ti, Length: 730, dtype: float64
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
730    2.0
731    2.0
732    2.0
733    2.0
734    2.0
Name: Ti, Length: 735, dtype: float64
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
722    0.0
723    0.0
724    0.0
725    0.0
726    3.0
Name: Ti, Length: 727, dtype: float64
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
Series([], Name: Ti, dtype: float64)
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
608     64.0
609    127.0
610    127.0
611     64.0
612     64.0
Name: Ti, Length: 613, dtype: float64
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
627    0.0
628    0.0
629    0.0
630    0.0
631    0.0
Name: Ti, Length: 632, dtype: float64
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
698     0.0
699    33.0
700    33.0
701    33.0
702    33.0
Name: Ti, Length: 703, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
716    300.0
717    338.0
718    375.0
719    450.0
720    413.0
Name: Ti, Length: 721, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
713    154.0
714    154.0
715     51.0
716     51.0
717    154.0
Name: Ti, Length: 718, dtype: float64
0      184.0
1      168.0
2      192.0
3      188.0
4      176.0
       ...
314    229.0
315    233.0
316    201.0
317    217.0
318    242.0
Name: Ti, Length: 319, dtype: float64
Guadeloupe
Series([], Name: Ti, dtype: float64)
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
731    209.0
732    152.0
733    133.0
734    171.0
735    161.0
Name: Ti, Length: 736, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
731    360.0
732    335.0
733    300.0
734    275.0
735    249.0
Name: Ti, Length: 736, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
731    589.0
732    584.0
733    505.0
734    562.0
735    536.0
Name: Ti, Length: 736, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    809.0
733    700.0
734    667.0
735    686.0
736    653.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
731    665.0
732    586.0
733    645.0
734    658.0
735    744.0
Name: Ti, Length: 736, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    786.0
733    782.0
734    771.0
735    751.0
736    749.0
Name: Ti, Length: 737, dtype: float64
Martinique
Series([], Name: Ti, dtype: float64)
0        0.0
1       44.0
2       44.0
3       44.0
4       44.0
       ...
732    653.0
733    598.0
734    576.0
735    609.0
736    598.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    509.0
733    668.0
734    708.0
735    678.0
736    808.0
Name: Ti, Length: 737, dtype: float64
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
732    1546.0
733    1536.0
734    1509.0
735    1467.0
736    1457.0
Name: Ti, Length: 737, dtype: float64
0         0.0
1         0.0
2         0.0
3         6.0
4         6.0
        ...
732    1903.0
733    1926.0
734    1932.0
735    1938.0
736    1914.0
Name: Ti, Length: 737, dtype: float64
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
732    1568.0
733    1599.0
734    1614.0
735    1599.0
736    1515.0
Name: Ti, Length: 737, dtype: float64
0         1.0
1         1.0
2         1.0
3         1.0
4         1.0
        ...
732    1379.0
733    1467.0
734    1508.0
735    1523.0
736    1529.0
Name: Ti, Length: 737, dtype: float64
Guyane
Series([], Name: Ti, dtype: float64)
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
728    15.0
729    10.0
730    10.0
731     5.0
732    10.0
Name: Ti, Length: 733, dtype: float64
0       0.0
1       6.0
2       6.0
3       6.0
4       6.0
       ...
724    46.0
725    52.0
726    46.0
727    46.0
728    46.0
Name: Ti, Length: 729, dtype: float64
0        0.0
1        3.0
2        3.0
3        3.0
4        3.0
       ...
724    112.0
725     93.0
726     83.0
727     79.0
728     86.0
Name: Ti, Length: 729, dtype: float64
0        8.0
1        8.0
2       20.0
3       40.0
4       44.0
       ...
724    141.0
725    161.0
726    149.0
727    153.0
728    161.0
Name: Ti, Length: 729, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
730    139.0
731    139.0
732    150.0
733    133.0
734    139.0
Name: Ti, Length: 735, dtype: float64
0        0.0
1        0.0
2        0.0
3        1.0
4        1.0
       ...
732    219.0
733    229.0
734    237.0
735    248.0
736    257.0
Name: Ti, Length: 737, dtype: float64
La Réunion
Series([], Name: Ti, dtype: float64)
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    195.0
733    160.0
734    131.0
735    149.0
736    140.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    281.0
733    237.0
734    193.0
735    162.0
736    140.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    417.0
733    336.0
734    276.0
735    238.0
736    201.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    520.0
733    431.0
734    366.0
735    348.0
736    306.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
732    499.0
733    409.0
734    341.0
735    336.0
736    277.0
Name: Ti, Length: 737, dtype: float64
0        0.0
1        0.0
2        0.0
3        1.0
4        1.0
       ...
732    761.0
733    687.0
734    632.0
735    588.0
736    542.0
Name: Ti, Length: 737, dtype: float64
Mayotte
Series([], Name: Ti, dtype: float64)
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
730    4.0
731    0.0
732    0.0
733    4.0
734    4.0
Name: Ti, Length: 735, dtype: float64
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
725    0.0
726    0.0
727    0.0
728    0.0
729    0.0
Name: Ti, Length: 730, dtype: float64
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
730    2.0
731    2.0
732    2.0
733    2.0
734    2.0
Name: Ti, Length: 735, dtype: float64
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
722    0.0
723    0.0
724    0.0
725    0.0
726    3.0
Name: Ti, Length: 727, dtype: float64
0      5.0
1      5.0
2      5.0
3      5.0
4      5.0
      ...
732    0.0
733    0.0
734    0.0
735    0.0
736    0.0

Name: Ti, Length: 737, dtype: float64
0       6.0
1      12.0
2      21.0
3      21.0
4      21.0
       ...
732    45.0
733    49.0
734    48.0
735    43.0
736    35.0
Name: Ti, Length: 737, dtype: float64
Ile-de-France
Series([], Name: Ti, dtype: float64)
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
5891    89.0
5892    89.0
5893    89.0
5894    89.0
5895    89.0
Name: Ti, Length: 5896, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
5891    92.0
5892    92.0
5893    92.0
5894    92.0
5895    92.0
Name: Ti, Length: 5896, dtype: float64
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
5891    124.0
5892    124.0
5893    124.0
5894    124.0
5895    124.0
Name: Ti, Length: 5896, dtype: float64
0         1.0
1         1.0
2         1.0
3         1.0
4         1.0
        ...
5891    106.0
5892    106.0
5893    106.0
5894    106.0
5895    106.0
Name: Ti, Length: 5896, dtype: float64
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
5891    103.0
5892    103.0
5893    103.0
5894    103.0
5895    103.0
Name: Ti, Length: 5896, dtype: float64
0         3.0
1         3.0
2         3.0
3         3.0
4         3.0
        ...
5891    236.0
5892    236.0
5893    236.0
5894    236.0
5895    236.0
Name: Ti, Length: 5896, dtype: float64
Centre
Series([], Name: Ti, dtype: float64)
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
4417    134.0
4418    134.0
4419    134.0
4420    134.0
4421    134.0
Name: Ti, Length: 4422, dtype: float64
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
4417    150.0
4418    150.0
4419    150.0
4420    150.0
4421    150.0
Name: Ti, Length: 4422, dtype: float64
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
4417    282.0
4418    282.0
4419    282.0
4420    282.0
4421    282.0
Name: Ti, Length: 4422, dtype: float64
0         1.0
1         1.0
2         1.0
3         1.0
4         1.0
        ...
4417    252.0
4418    252.0
4419    252.0
4420    252.0
4421    252.0
Name: Ti, Length: 4422, dtype: float64
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
4417    203.0
4418    203.0
4419    203.0
4420    203.0
4421    203.0
Name: Ti, Length: 4422, dtype: float64
0         1.0
1         1.0
2         1.0
3         1.0
4         1.0
        ...
4417    291.0
4418    291.0
4419    291.0
4420    291.0
4421    291.0
Name: Ti, Length: 4422, dtype: float64
Bourgogne-Franche-Comté
Series([], Name: Ti, dtype: float64)
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
5891    110.0
5892    110.0
5893    110.0
5894    110.0
5895    110.0
Name: Ti, Length: 5896, dtype: float64
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
5891    141.0
5892    141.0
5893    141.0
5894    141.0
5895    141.0
Name: Ti, Length: 5896, dtype: float64
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
5891    239.0
5892    239.0
5893    239.0
5894    239.0
5895    239.0
Name: Ti, Length: 5896, dtype: float64
0         1.0
1         1.0
2         1.0
3         1.0
4         1.0
        ...
5891    193.0
5892    193.0
5893    193.0
5894    193.0
5895    193.0
Name: Ti, Length: 5896, dtype: float64
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
5891    166.0
5892    166.0
5893    166.0
5894    166.0
5895    166.0
Name: Ti, Length: 5896, dtype: float64
0         1.0
1         1.0
2         1.0
3         1.0
4         1.0
        ...
5891    262.0
5892    262.0
5893    262.0
5894    262.0
5895    262.0
Name: Ti, Length: 5896, dtype: float64
Normandie
Series([], Name: Ti, dtype: float64)
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
3680    195.0
3681    195.0
3682    195.0
3683    195.0
3684    195.0
Name: Ti, Length: 3685, dtype: float64
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
3680    188.0
3681    188.0
3682    188.0
3683    188.0
3684    188.0
Name: Ti, Length: 3685, dtype: float64
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
3680    248.0
3681    248.0
3682    248.0
3683    248.0
3684    248.0
Name: Ti, Length: 3685, dtype: float64
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
3680    264.0
3681    264.0
3682    264.0
3683    264.0
3684    264.0
Name: Ti, Length: 3685, dtype: float64
0         1.0
1         1.0
2         1.0
3         1.0
4         1.0
        ...
3680    182.0
3681    182.0
3682    182.0
3683    182.0
3684    182.0
Name: Ti, Length: 3685, dtype: float64
0         1.0
1         1.0
2         1.0
3         1.0
4         1.0
        ...
3680    289.0
3681    289.0
3682    289.0
3683    289.0
3684    289.0
Name: Ti, Length: 3685, dtype: float64
Hauts-de-France
Series([], Name: Ti, dtype: float64)
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
3680    180.0
3681    180.0
3682    180.0
3683    180.0
3684    180.0
Name: Ti, Length: 3685, dtype: float64
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
3680    176.0
3681    176.0
3682    176.0
3683    176.0
3684    176.0
Name: Ti, Length: 3685, dtype: float64
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
3680    260.0
3681    260.0
3682    260.0
3683    260.0
3684    260.0
Name: Ti, Length: 3685, dtype: float64
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
3680    253.0
3681    253.0
3682    253.0
3683    253.0
3684    253.0
Name: Ti, Length: 3685, dtype: float64
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
3680    176.0
3681    176.0
3682    176.0
3683    176.0
3684    176.0
Name: Ti, Length: 3685, dtype: float64
0         2.0
1         2.0
2         2.0
3         2.0
4         2.0
        ...
3680    306.0
3681    306.0
3682    306.0
3683    306.0
3684    306.0
Name: Ti, Length: 3685, dtype: float64
Grand Est
Series([], Name: Ti, dtype: float64)
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
7365    131.0
7366    131.0
7367    131.0
7368    131.0
7369    131.0
Name: Ti, Length: 7370, dtype: float64
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
7365    141.0
7366    141.0
7367    141.0
7368    141.0
7369    141.0
Name: Ti, Length: 7370, dtype: float64
0         1.0
1         1.0
2         1.0
3         1.0
4         1.0
        ...
7365    227.0
7366    227.0
7367    227.0
7368    227.0
7369    227.0
Name: Ti, Length: 7370, dtype: float64
0         1.0
1         1.0
2         1.0
3         1.0
4         1.0
        ...
7365    233.0
7366    233.0
7367    233.0
7368    233.0
7369    233.0
Name: Ti, Length: 7370, dtype: float64
0         1.0
1         1.0
2         1.0
3         1.0
4         1.0
        ...
7365    190.0
7366    190.0
7367    190.0
7368    190.0
7369    190.0
Name: Ti, Length: 7370, dtype: float64
0         3.0
1         3.0
2         3.0
3         3.0
4         3.0
        ...
7365    267.0
7366    267.0
7367    267.0
7368    267.0
7369    267.0
Name: Ti, Length: 7370, dtype: float64
Pays de la Loire
Series([], Name: Ti, dtype: float64)
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
3680    166.0
3681    166.0
3682    166.0
3683    166.0
3684    166.0
Name: Ti, Length: 3685, dtype: float64
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
3680    220.0
3681    220.0
3682    220.0
3683    220.0
3684    220.0
Name: Ti, Length: 3685, dtype: float64
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
3680    315.0
3681    315.0
3682    315.0
3683    315.0
3684    315.0
Name: Ti, Length: 3685, dtype: float64
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
3680    311.0
3681    311.0
3682    311.0
3683    311.0
3684    311.0
Name: Ti, Length: 3685, dtype: float64
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
3680    227.0
3681    227.0
3682    227.0
3683    227.0
3684    227.0
Name: Ti, Length: 3685, dtype: float64
0         1.0
1         1.0
2         1.0
3         1.0
4         1.0
        ...
3680    313.0
3681    313.0
3682    313.0
3683    313.0
3684    313.0
Name: Ti, Length: 3685, dtype: float64
Bretagne
Series([], Name: Ti, dtype: float64)
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
2943    256.0
2944    247.0
2945    247.0
2946    247.0
2947    247.0
Name: Ti, Length: 2948, dtype: float64
0         1.0
1         1.0
2         1.0
3         1.0
4         2.0
        ...
2943    230.0
2944    200.0
2945    200.0
2946    200.0
2947    200.0
Name: Ti, Length: 2948, dtype: float64
0         0.0
1         0.0
2         0.0
3         0.0
4         1.0
        ...
2943    356.0
2944    328.0
2945    328.0
2946    328.0
2947    328.0
Name: Ti, Length: 2948, dtype: float64
0         0.0
1         0.0
2         0.0
3         0.0
4         1.0
        ...
2943    302.0
2944    284.0
2945    284.0
2946    284.0
2947    284.0
Name: Ti, Length: 2948, dtype: float64
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
2943    216.0
2944    205.0
2945    205.0
2946    205.0
2947    205.0
Name: Ti, Length: 2948, dtype: float64

0         0.0
1         0.0
2         0.0
3         0.0
4         1.0
        ...
2943    351.0
2944    336.0
2945    336.0
2946    336.0
2947    336.0
Name: Ti, Length: 2948, dtype: float64
Nouvelle-Aquitaine
Series([], Name: Ti, dtype: float64)
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
8839    103.0
8840    103.0
8841    103.0
8842    103.0
8843    103.0
Name: Ti, Length: 8844, dtype: float64
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
8839    137.0
8840    137.0
8841    137.0
8842    137.0
8843    137.0
Name: Ti, Length: 8844, dtype: float64
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
8839    167.0
8840    167.0
8841    167.0
8842    167.0
8843    167.0
Name: Ti, Length: 8844, dtype: float64
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
8839    223.0
8840    223.0
8841    223.0
8842    223.0
8843    223.0
Name: Ti, Length: 8844, dtype: float64
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
8839    128.0
8840    128.0
8841    128.0
8842    128.0
8843    128.0
Name: Ti, Length: 8844, dtype: float64
0         1.0
1         1.0
2         1.0
3         1.0
4         1.0
        ...
8839    233.0
8840    233.0
8841    233.0
8842    233.0
8843    233.0
Name: Ti, Length: 8844, dtype: float64
Occitanie
Series([], Name: Ti, dtype: float64)
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
9576    116.0
9577    116.0
9578    116.0
9579    116.0
9580    116.0
Name: Ti, Length: 9581, dtype: float64
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
9576    120.0
9577    120.0
9578    120.0
9579    120.0
9580    120.0
Name: Ti, Length: 9581, dtype: float64
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
9576    156.0
9577    156.0
9578    156.0
9579    156.0
9580    156.0
Name: Ti, Length: 9581, dtype: float64
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
9576    171.0
9577    171.0
9578    171.0
9579    171.0
9580    171.0
Name: Ti, Length: 9581, dtype: float64
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
9576    121.0
9577    121.0
9578    121.0
9579    121.0
9580    121.0
Name: Ti, Length: 9581, dtype: float64
0         1.0
1         1.0
2         1.0
3         1.0
4         1.0
        ...
9576    237.0
9577    237.0
9578    237.0
9579    237.0
9580    237.0
Name: Ti, Length: 9581, dtype: float64
Auvergne-Rhône-Alpes
Series([], Name: Ti, dtype: float64)
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
8839    112.0
8840    112.0
8841    112.0
8842    112.0
8843    112.0
Name: Ti, Length: 8844, dtype: float64
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
8839    178.0
8840    178.0
8841    178.0
8842    178.0
8843    178.0
Name: Ti, Length: 8844, dtype: float64
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
8839    236.0
8840    236.0
8841    236.0
8842    236.0
8843    236.0
Name: Ti, Length: 8844, dtype: float64
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
8839    212.0
8840    212.0
8841    212.0
8842    212.0
8843    212.0
Name: Ti, Length: 8844, dtype: float64
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
8839    131.0
8840    131.0
8841    131.0
8842    131.0
8843    131.0
Name: Ti, Length: 8844, dtype: float64
0         1.0
1         1.0
2         1.0
3         1.0
4         1.0
        ...
8839    267.0
8840    267.0
8841    267.0
8842    267.0
8843    267.0
Name: Ti, Length: 8844, dtype: float64
Provence-Alpes-Côte d'Azur
Series([], Name: Ti, dtype: float64)
0         1.0
1         1.0
2         1.0
3         1.0
4         1.0
        ...
4417    135.0
4418    135.0
4419    135.0
4420    135.0
4421    135.0
Name: Ti, Length: 4422, dtype: float64
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
4417    138.0
4418    138.0
4419    138.0
4420    138.0
4421    138.0
Name: Ti, Length: 4422, dtype: float64
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
4417    247.0
4418    247.0
4419    247.0
4420    247.0
4421    247.0
Name: Ti, Length: 4422, dtype: float64
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
4417    291.0
4418    291.0
4419    291.0
4420    291.0
4421    291.0
Name: Ti, Length: 4422, dtype: float64
0         1.0
1         1.0
2         1.0
3         1.0
4         1.0
        ...
4417    217.0
4418    217.0
4419    217.0
4420    217.0
4421    217.0
Name: Ti, Length: 4422, dtype: float64
0         2.0
1         2.0
2         2.0
3         2.0
4         2.0
        ...
4417    309.0
4418    309.0
4419    309.0
4420    309.0
4421    309.0
Name: Ti, Length: 4422, dtype: float64
Corse
Series([], Name: Ti, dtype: float64)
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
1469    257.0
1470    201.0
1471    201.0
1472    212.0
1473    212.0
Name: Ti, Length: 1474, dtype: float64
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
1469    186.0
1470    176.0
1471    176.0
1472    176.0
1473    176.0
Name: Ti, Length: 1474, dtype: float64
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
1469    261.0
1470    272.0
1471    272.0
1472    250.0
1473    250.0
Name: Ti, Length: 1474, dtype: float64
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
1469    267.0
1470    246.0
1471    246.0
1472    253.0
1473    253.0
Name: Ti, Length: 1474, dtype: float64
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
1469    248.0
1470    288.0
1471    288.0
1472    278.0
1473    278.0
Name: Ti, Length: 1474, dtype: float64
0         2.0
1         2.0
2         3.0
3         3.0
4         4.0
        ...
1469    300.0
1470    295.0
1471    295.0
1472    285.0
1473    285.0
Name: Ti, Length: 1474, dtype: float64

In [164]:
dict_dataexplorer = dataexplorer()

/Users/guillaumerozier/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  # This is added back by InteractiveShellApp.init_path()
/Users/guillaumerozier/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if sys.path[0] == '':

Auvergne-Rhône-Alpes
Bourgogne-Franche-Comté
Bretagne
Centre
Corse
Grand Est
Guadeloupe
Guyane
Hauts-de-France
Ile-de-France
La Réunion
Martinique
Mayotte
Normandie
Nouvelle-Aquitaine
Occitanie
Pays de la Loire
Provence-Alpes-Côte d'Azur
Regions : done
01
02
03
04
05
06
07
08
09
10
11
12
13
14
15
16
17
18
19
21
22
23
24
25
26
27
28
29
2A
2B
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
971
972
973
974
976
Rouen
Nice
Metz
Grenoble
Lyon
Paris
Marseille
Dijon
Brest
Toulouse
Bordeaux
Montpellier
Rennes
Tours
Saint Etienne
Nantes
Orléans
Nancy
Lille
Clermont-Auvergne
Strasbourg
Toulon

In [250]:
dict_data = dataexplorer_age()

            jour  cl_age90        pop       P        T  regionCode  \
0     2020-05-13         9  7539692.0    13.0   1277.0      5209.0
1     2020-05-13        19  8243417.0    28.0   1678.0      5231.0
2     2020-05-13        29  7430487.0   103.0   4610.0      5315.0
3     2020-05-13        39  8268700.4   106.0   5661.0      5234.0
4     2020-05-13        49  8549692.0   101.0   5813.0      5315.0
...          ...       ...        ...     ...      ...         ...
7365  2022-05-19        59  8792674.7  3340.0  19805.0      5318.0
7366  2022-05-19        69  8004082.7  2987.0  17767.0      5318.0
7367  2022-05-19        79  5695639.1  2510.0  14276.0      5318.0
7368  2022-05-19        89  3245280.6   928.0   7931.0      5318.0
7369  2022-05-19        90   912501.7   262.0   2927.0      5318.0

      regionPopulation    code
0          536721585.0  5209.0
1          537914658.0  5231.0
2          545941658.0  5315.0
3          538205349.0  5234.0
4          545941658.0  5315.0
...                ...     ...
7365       546232349.0  5318.0
7366       546232349.0  5318.0
7367       546232349.0  5318.0
7368       546232349.0  5318.0
7369       546232349.0  5318.0

[7370 rows x 8 columns]
       Semaine  cl_age90  reg  NewAdmHospit  regionPopulation  code
0     2020-S09         0  709            61          66911043   709
1     2020-S09         9  709             2          66911043   709
2     2020-S09        19  709             2          66911043   709
3     2020-S09        29  709             5          66911043   709
4     2020-S09        39  709             4          66911043   709
...        ...       ...  ...           ...               ...   ...
1271  2022-S19        59  709           301          66911043   709
1272  2022-S19        69  709           564          66911043   709
1273  2022-S19        79  709           861          66911043   709
1274  2022-S19        89  709          1097          66911043   709
1275  2022-S19        90  709           566          66911043   709

[1276 rows x 6 columns]

KeyError: 'jour'

In [ ]:
def objectif_deconfinement():
    dict_json = {}
    n = 70
    
    ## HOSP
    struct = {"dates": [], "values": []}
    dict_json["hosp"] = struct
    dict_json["hosp"]["values"] = [float(round(x, 1)) for x in df_france["hosp"].values[-n:]]
    dict_json["hosp"]["dates"] = list(df_france["jour"].values[-n:])
    
    ## HOSP ADM
    struct = {"dates": [], "values": []}
    dict_json["adm_hosp"] = struct
    dict_json["adm_hosp"]["values"] = [float(round(x, 1))for x in df_new_france["incid_hosp"].rolling(window=7).mean().dropna(0).values[-n:]]
    dict_json["adm_hosp"]["dates"] = list(df_new_france["jour"].values[-n:])
    
    ## REA
    struct = {"dates": [], "values": []}
    dict_json["rea"] = struct
    dict_json["rea"]["values"] = [float(round(x, 1)) for x in df_france["rea"].values[-n:]]
    dict_json["rea"]["dates"] = list(df_france["jour"].values[-n:])
    
    ## REA ADM
    struct = {"dates": [], "values": []}
    dict_json["adm_rea"] = struct
    dict_json["adm_rea"]["values"] = [float(round(x, 1)) for x in df_new_france["incid_rea"].rolling(window=7).mean().dropna(0).values[-n:]]
    dict_json["adm_rea"]["dates"] = list(df_new_france["jour"].values[-n:])
    
    ## DC
    struct = {"dates": [], "values": []}
    dict_json["dc"] = struct
    dict_json["dc"]["values"] = [float(round(x, 1)) for x in df_new_france["incid_dc"].rolling(window=7).mean().fillna(0).values[-n:]]
    dict_json["dc"]["dates"] = list(df_france["jour"].values[-n:])
    
    ## Cas
    struct = {"date": "", "values": []}
    dict_json["cas"] = struct
    cas_rolling = df_incid_fra["P"].rolling(window=7, center=False).mean().dropna()
    
    dict_json["cas"]["values"] = [float(round(x, 1)) for x in cas_rolling.values[-n:]]
    dict_json["cas"]["dates"] = list(df_incid_fra.loc[cas_rolling.index.values[-n:], "jour"])
    
    ## Cas date publication
    struct = {"date": "", "values": []}
    dict_json["cas_spf"] = struct
    #cas_rolling = df_vue_ensemble["total_cas_confirmes"].diff().rolling(window=7, center=False).mean().fillna(0)
    cas_rolling = df_opendata_indicateurs["conf_j1"].rolling(window=7, center=False).mean().fillna(0)

    dict_json["cas_spf"]["values"] = [float(round(x, 1)) for x in cas_rolling.values[-n:]]
    dict_json["cas_spf"]["dates"] = list(df_opendata_indicateurs.loc[cas_rolling.index.values[-n:], "date"])
    
    with open(PATH_STATS + 'objectif_deconfinement.json', 'w') as outfile:
        json.dump(dict_json, outfile)
        
objectif_deconfinement()