In [1]:
"""

LICENSE MIT
2020
Guillaume Rozier
Website : http://www.covidtracker.fr
Mail : guillaume.rozier@telecomnancy.net

README:
This file contains scripts that download data from data.gouv.fr and then process it to build many graphes.
I'm currently cleaning the code, please ask me if something is not clear enough.

The charts are exported to 'charts/images/france'.
Data is download to/imported from 'data/france'.
Requirements: please see the imports below (use pip3 to install them).

"""

"\n\nLICENSE MIT\n2020\nGuillaume Rozier\nWebsite : http://www.covidtracker.fr\nMail : guillaume.rozier@telecomnancy.net\n\nREADME:\nThis file contains scripts that download data from data.gouv.fr and then process it to build many graphes.\nI'm currently cleaning the code, please ask me if something is not clear enough.\n\nThe charts are exported to 'charts/images/france'.\nData is download to/imported from 'data/france'.\nRequirements: please see the imports below (use pip3 to install them).\n\n"

In [2]:
def nbWithSpaces(nb):
    str_nb = str(int(round(nb)))
    if(nb>100000):
        return str_nb[:3] + " " + str_nb[3:]
    elif(nb>10000):
        return str_nb[:2] + " " + str_nb[2:]
    elif(nb>1000):
        return str_nb[:1] + " " + str_nb[1:]
    else:
        return str_nb

In [3]:
import pandas as pd
PATH = "../../"
import france_data_management as data
import plotly.graph_objects as go
import locale
from datetime import datetime
locale.setlocale(locale.LC_ALL, 'fr_FR.UTF-8')
now = datetime.now()

In [4]:
data.download_data()
df_tests =data.import_data_tests_sexe()
df_tests = df_tests[df_tests.cl_age90 == 0]
df_tests["P_rolling"] = df_tests["P"].rolling(window=7).mean()

36it [00:07,  5.12it/s]

,fra,jour,P_f,P_h,P,T_f,T_h,T,cl_age90,pop,P_rolling
10,FR,2020-05-13,537,361,901,23355,16303,39839,0,67114995.0,NaN
21,FR,2020-05-14,562,419,1015,25335,17594,43174,0,67114995.0,NaN
32,FR,2020-05-15,564,446,1044,27496,20446,48380,0,67114995.0,NaN
43,FR,2020-05-16,160,131,292,9220,7342,16662,0,67114995.0,NaN
54,FR,2020-05-17,78,64,142,3448,3168,6650,0,67114995.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
4531,FR,2021-06-28,1412,1414,2844,165713,151845,319547,0,67114995.0,1817.571429
4542,FR,2021-06-29,1250,1064,2328,136851,124165,262340,0,67114995.0,1854.428571
4553,FR,2021-06-30,1379,1338,2735,138749,126483,267203,0,67114995.0,1963.285714
4564,FR,2021-07-01,1302,1333,2650,166159,154081,321942,0,67114995.0,2059.000000
4575,FR,2021-07-02,1564,1443,3033,202328,189098,394054,0,67114995.0,2187.714286

In [6]:
data.download_data_variants()
df_variants = data.import_data_variants()

In [7]:
df_variants["jour"] = df_variants.semaine.apply(lambda x: x[11:])

In [25]:
fig = go.Figure()

fig.add_trace(
    go.Scatter(
        x=df_variants.jour,
        y=df_variants.tx_A1,
        name="% mutation E484K (" + str(df_variants.tx_A1.values[-1]).replace(".", ",") + " %)",
        showlegend=True,
    )
)

fig.add_trace(
    go.Scatter(
        x=df_variants.jour,
        y=df_variants.tx_B1,
        name="% mutation E484Q (" + str(df_variants.tx_B1.values[-1]).replace(".", ",") + " %)",
    )
)

fig.add_trace(
    go.Scatter(
        x=df_variants.jour,
        y=df_variants.tx_C1,
        name="% mutation L452R (" + str(df_variants.tx_C1.values[-1]).replace(".", ",") + " %)",
        showlegend=True,
    )
)
y=100 - df_variants.tx_A1 - df_variants.tx_B1 - df_variants.tx_C1
fig.add_trace(
    go.Scatter(
        x=df_variants.jour,
        y=y,
        name="% Autres (" + str(y.values[-1]).replace(".", ",") + " %)",
        showlegend=True,
    )
)

fig.update_yaxes(ticksuffix="%")

fig.update_layout(
     title={
        'text': "Proportion de variants dans les tests positifs (en %)",
        'y':0.99,
        'x':0.5,
        'xanchor': 'center',
        'yanchor': 'top',
         'font': {'size': 30}
    },
    annotations = [
                    dict(
                        x=0.5,
                        y=1.1,
                        xref='paper',
                        yref='paper',
                        text='Mis à jour le {}. Données : Santé publique France. Auteur : @guillaumerozier - covidtracker.fr.'.format(now.strftime('%d %B')),
                        showarrow = False
                    )]
)
fig.write_image(PATH+"images/charts/france/{}.jpeg".format("variants_pourcent"), scale=2, width=1000, height=600)

In [13]:
fig = go.Figure()
n_days = len(df_variants)

pourcent=100 - df_variants.tx_C1.values
y=df_tests["P_rolling"].values[-n_days:] * pourcent/100
fig.add_trace(
    go.Scatter(
        x=df_variants.jour,
        y=y,
        name="<b>Autres souches</b><br>" + str(nbWithSpaces(y[-1])).replace(".", ",") + " (" + str(pourcent[-1]).replace(".", ",") + " %) ",
        stackgroup='one'
    )
)

pourcent=df_variants.tx_C1.values
y=df_tests["P_rolling"].values[-n_days:] * pourcent/100
fig.add_trace(
    go.Scatter(
        x=df_variants.jour,
        y=y,
        name="Mutation L452R, dont <b>Delta </b><br>" + str(nbWithSpaces(y[-1])).replace(".", ",") + " (" + str(pourcent[-1]).replace(".", ",") + " %) ",
        stackgroup='one'
    )
)


fig.update_yaxes(ticksuffix="")

fig.update_layout(
     title={
        'text': "Nombre de variants dans les cas détectés",
        'y':0.99,
        'x':0.5,
        'xanchor': 'center',
        'yanchor': 'top',
         'font': {'size': 30}
    },
    annotations = [
                    dict(
                        x=0.5,
                        y=1.1,
                        xref='paper',
                        yref='paper',
                        text='Mis à jour : {}. Données : Santé publique France. Auteur : @guillaumerozier - covidtracker.fr.'.format(now.strftime('%d %B')),
                        showarrow = False
                    )]
)
fig.write_image(PATH+"images/charts/france/{}.jpeg".format("variants_nombre"), scale=2, width=1000, height=600)